*{
    margin: 0;
    padding: 0;
  }
  body{
    overflow-x: hidden;

  }

  .cont1{
    width: 100vw;
    min-height: auto;
    padding: 20px;
    background-image: url('images1/leaves.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

  }
  .cont1 h2{
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
}

.asset{
    padding-left: 50px;
    margin-right: 50px;
    width: 150px;
  }
  .asset img{
    width: 116px;
    height: 85px;
  }
  .form{
    color: #ffffff;
  }

  .con2 h1{
    color: #ffffff;
    text-align: center;
    font-weight: Crimson Text;
  }
  .con2{
padding-top: 100px;
      color: #ffffff;
  }

  .con3 h1{
    color: #ffffff;
    text-align: center;
    font-weight: Crimson Text;
  }
  .con3{
padding-top: 100px;
      color: #ffffff;
  }
  .edit-btn{
    padding: 20px;
  }