*{
    margin: 0;
    padding: 0;
  }
  body{
    overflow-x: hidden;
  }

  .cont1{
    width: 100vw;
    min-height: 50vw;
    background-image: url('images1/leaves.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
  }
  .cont1 h2{
    padding-top: 100px;
  }
  .btn-dark2{
    background: #FECC07;
    color: #000000;
    border: none;
    width: 275px;
    height: 48px;
    margin: 10px;
    border-radius: 5px;
  }
  .cont1 textarea,input{
    width: 275px;
    height: 30px;
  }
