
*{
  margin: 0;
  padding: 0;
}
body,html{
  overflow-x: hidden;
}
.hidden-spacer {
  height: 56px
}
.navbar{
  width: 1512px;
  height: 135px;
  background-color: #10151C;
  opacity: 1;
}
.navbar-brand{
  width: 140px;
  height: 85px;
  padding-left: 100px;
}
.navbar-brand img{
  width: 114px;
  height: 85px;

}
.active a{
  color: #FECC07;

}
.active {
  padding-left: 200px;
  font-weight: bold;
}
.nav-item a{
  color: #ffffff;
  font-weight: bold;
}   
.con1{
  width: 1512px;
  height: 466px;
}
.con01{
  width: 1512px;
  height: 466px;
  font-family: Crimson text;
  color: #ffffff;
  font-weight: bold;
}
.con1{
  width: 100vw;
  min-height: 466px;
  background-image: url('images1/leaves.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.con1 h1{
  color: #ffffff;
font-family: Crimson Text;
font-size: 72px;
text-align: center;
padding-top: 150px;
}
.con2{
  width: 100vw;
  background-color: #272B2E;
}
.con2a h2{
  color: #ffffff;
  padding-top: 50px;
  font-family: Crimson Text;

}
.con2a{
  text-align: center;
}
.con2a hr{
  color: #FECC07;
  width: 230px;
  margin-left: 600px;
  border-width: 2px;
  border-radius: 2px;
  opacity: 1;
}
.con2b{
  width: 100vw;
}
.con2c{
  width: 1020px;
  height: 50px;
  font-size: 28px;
  background-color: #10151C;
}
.con2d p{
  color: #ffffff;
  font-size: 35;
  padding: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.con2d{
  width: 1020px;
  height: 50px;
  background-color: #10151C;
  margin-top: 15px;
}
.con2c p{
  color: #ffffff;
  font-size: 35;
  font-weight: bold;
  padding: 15px;
  margin-top: 10px;
}

.row{
  padding-top:10px;
  margin-top: 10px;
  font-weight: lighter;
}
.form-control{
  font-weight: lighter;
}
.contact input {
  margin-top: 10px;
  background: #363B41;
  caret-color: #fff;
  border: 1px solid #363B41;
}

.contact textarea {
  margin-top: 10px;
  background: #363B41;
  caret-color: #fff;
  border: 1px solid #363B41;
}

.contact input:focus {
  margin-top: 10px;
  color: #fff;
  background: #363B41;
  border: 1px solid #363B41;
}

.contact textarea:focus {
  margin-top: 10px;
  color: #fff;
  background: #363B41;
  border: 1px solid #363B41;
}


.contact input::placeholder { 
 color:    #fff;
  font-weight: 500;
}


.contact textarea::placeholder { 
 color:    #fff;
  font-weight: 500;
}


.con5b2{
  width: 1170px;
  height: 45px;
  }
.btn-dark2 {
  background: #FECC07;
  color: #000000;
  border: none;
  width: 1020px;
  height: 40px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: none;
font-weight: bolder;

}


.cont8{
  background-color: #0E1317;
  color: #E5DEDE;
  width: 100vw;
  padding-top: 50px;
}
.cont8 img{
  height: 100px;
  width: 130px;
  margin: 10px;
  margin-bottom: 50px;  
}
.cont8 a{
  text-decoration: none;
  color: #E5DEDE;
}
.cont11f{
  text-align: center;
}
.cont11f img{
  height: 25px;
  width: 25px;
}  

.cont11f2{
  color: #6F6F6F;
  padding: 10px;
  float: left;
  padding-left: 150px;
}
.cont11f3{
  padding-left: 800px;
  padding-top: 20px;
}



