*{
    margin: 0;
    padding: 0;
  }
  body,html{
    overflow-x: hidden;
  }
  .navbar {
    height: 135px;
    width: 1512px;
    background: none;
    background-color: #10151C;
    --bs-navbar-nav-link-padding-x: 3.5rem;
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 1px;
    --bs-navbar-toggler-border-color: #FECC07;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
  }
  .asset{
    padding-left: 100px;
    width: 150px;
  }
.asset img{
    width: 116px;
    height: 85px;
}
  .navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
  }

  .nav-item {
    padding-top: 25px;
  }
  .social{
    display: flex;
    padding-left: 20px;
  }
.social img{
    width: 20px;
    height: 20px;
}
  
  .cont0{
    text-align: center;
    display: flex;
    padding-left: 180px;
  }
  
  .page {
    background-color: #333;
    position: absolute;
    height: 3400px;
}
.cont1{
    background-color: #333;
    position: absolute;
    text-align: center;
    width: 100%;
    right: 100px;
}
.cont1 h1{
    font-family: Crimson Text;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 150px;
}
.cont1 h6{
    position: relative;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    top: 150px;
}
.first{
    display: flex;
    color: #FFFFFF;
    text-align: justify;
    position: relative;
    padding: 60px;
    font-size: 18px;
    top: 100px;
    width: 100%;
    left: 70px;
}
.leftfirst {
    float: left;
    position: relative;
    margin: 20px;
    padding-right: 20px;
    width: 540px;
}
.rightfirst {
    position: relative;
    float: right;
    margin: 20px;
    padding-left: 20px;
    width: 540px
}
.leftfirst p{
    width: 540px;
    margin: 50px;
}
.rightfirst p{
    width: 540px;
    margin: 50px;
}

img#bg {
    position: absolute;
    padding-top: 940px;
}

.imggrid{
  position: relative;
  top: 500px;
}
.row{
  position: relative;
left: -90px;
}
#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none; 
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
        width: 60%;
    }
    @media screen and (min-width:1200px) {
        width: 50%;
    }
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}


.cont03 img{
  position: absolute;
  height: 650px;
  width: 1400px;
  top: 63%;
}

.con4{
  position: relative;
  top: 650px;
}
.con4a{
  position: absolute;
  background-color: #0E1317;
  width: 1265px;
  height: 227px;
  left: 40px;
}

.con4b img{
  position: relative;
  width: 66px;
  height: 66px;
 top: 70px;
 left: 150px;
}
.con4b1{
  position: relative;
  top: 100px;

}
.con4b1 h4{
  position: relative;
  color: #ffffff;
  font-size: 33px;
  font-family: Montserrat;
  left: 300px;
  padding: 10px;
bottom: 120px;
}
.con4b1 p{
  position: relative;

  color:#272B2E;
  font-size: 20px;
  left: 300px;
  color: #ffffff;
  padding: 10px;
  bottom: 130px;

}
.con4b2{
  position: relative;
  width: 157px;
  height: 45px;
}
.btn-dark1 {
  background: #FECC07;
  color: #000000;
  border: none;
  width: 140px;
  height: 40px;
  margin-right: 20px;
  border-radius: none;
position: relative;
left: 1050px;
bottom: 130px;

}

.cont8{
  background-color: #0E1317;
  color: #E5DEDE;
  position: relative;
  padding-top: 50px;
  top: 700px;
}
.cont8 img{
  height: 100px;
  width: 130px;
  margin: 10px;
  margin-bottom: 50px;  
  position: relative;
  bottom: 20px;
}
.cont8 a{
  text-decoration: none;
  color: #E5DEDE;
}
.cont11f{
  text-align: center;
}
.cont11f img{
  height: 25px;
  width: 25px;
}  

.cont11f2{
  color: #6F6F6F;
  padding: 10px;
  float: left;
  padding-left: 150px;
}
.cont11f3{
  padding-left: 800px;
  padding-top: 20px;
}

